/* Other rules */
header {
  border: solid;
  height: 100px;
  display: flex;
}

header img {
  /* width: 50px */
  border: solid;
}

.carroussel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
